<div class="main-container">
	<fountain-header></fountain-header>
	<main class="main">
		<fountain-title></fountain-title>
		<div class="top toolbar">
			<button ng-click="$mainCtrl.doScroll('bottom')" 
			type="button" 
			class="btn btn-blue">Bottom</button>
		</div>

		<fountain-techs></fountain-techs>

		<div class="bottom toolbar">
			<button ng-click="$mainCtrl.doScroll('top')" 
			type="button" 
			class="btn btn-blue">Top</button>
		</div>
	</main>
	<fountain-footer></fountain-footer>
</div>
