<div class="title">
	<section class="scrollable">
		<header class="scrollable-header">
			<button ng-click="$titleCtrl.doScroll('1')" 
				type="button" 
				class="btn btn-small btn-red">#1</button>

			<button ng-click="$titleCtrl.doScroll('3')" 
				type="button" 
				class="btn btn-small btn-red">#3</button>

			<button ng-click="$titleCtrl.doScroll('25')" 
				type="button" 
				class="btn btn-small btn-red">#25</button>

			<button ng-click="$titleCtrl.doScroll('43')" 
				type="button" 
				class="btn btn-small btn-red">#43</button>
		</header>
		<div class="scrollable-body">
    		<fountain-techs></fountain-techs>
		</div>
	</section> 

	<section class="display">
		<h1 class="title-h1">angularSmoothScroller Demo</h1>
		<div>
			<img class="title-logo" src="http://placehold.it/384x192/fff">
		</div>
		<h2 class="title-h2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, quia!</h2>
	</section>
</div>